In [26]:
#RUN WHOLE SCRIPT STEP BY STEP

import pandas as pd

df = pd.read_csv("Main_clean.csv")
init_shape = df.shape
print("Initial Shape ", init_shape)
print("Column names:")
for col in df.columns:
    print(col)

Initial Shape  (187260, 30)
Column names:
Graduate_School_Dashboard_Dataset_Event
Graduate_School_Dashboard_Dataset_Term_Code
Graduate_School_Dashboard_Dataset_Calendar_Year
Graduate_School_Dashboard_Dataset_Academic_Year
Graduate_School_Dashboard_Dataset_Fiscal_Year
Graduate_School_Dashboard_Dataset_Degree_Type
Graduate_School_Dashboard_Dataset_Degree_Level_Code
Graduate_School_Dashboard_Dataset_Degree_Level
Graduate_School_Dashboard_Dataset_Degree
Graduate_School_Dashboard_Dataset_Program_Code
Graduate_School_Dashboard_Dataset_Program
Graduate_School_Dashboard_Dataset_Major_Code
Graduate_School_Dashboard_Dataset_Major
Graduate_School_Dashboard_Dataset_College_Code
Graduate_School_Dashboard_Dataset_College
Graduate_School_Dashboard_Dataset_Department_Code
Graduate_School_Dashboard_Dataset_Department
Graduate_School_Dashboard_Dataset_Campus_Code
Graduate_School_Dashboard_Dataset_Campus
Graduate_School_Dashboard_Dataset_Gender_Code
Graduate_School_Dashboard_Dataset_Gender
Graduate_School_Dashboard_Dataset_Race_and_Ethnicity_Code
Graduate_School_Dashboard_Dataset_Race_and_Ethnicity
Graduate_School_Dashboard_Dataset_Citizenship_Status_Code
Graduate_School_Dashboard_Dataset_Citizensihp_Status
Graduate_School_Dashboard_Dataset_Residency_Code
Graduate_School_Dashboard_Dataset_Residency
Graduate_School_Dashboard_Dataset_Time_Status_Code
Graduate_School_Dashboard_Dataset_Time_Status
Graduate_School_Dashboard_Dataset_Total

C:\Users\adity\AppData\Local\Temp\ipykernel_75764\1465693559.py:5: DtypeWarning: Columns (27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Main.csv")

In [24]:
#COLUMN RENAME FOR BETTER READABILITY

pretty_cols = {}
for col in df.columns:
    new = col

    # remove prefix
    new = new.replace("Graduate_School_Dashboard_Dataset_", "")

    # fix typos
    new = new.replace("Citizensihp", "Citizenship")

    # convert to readable form
    new = new.replace("_", " ").strip()
    new = " ".join(word.capitalize() for word in new.split())

    pretty_cols[col] = new
print("Updated Column Names:")
for old, new in pretty_cols.items():
    print(f"{old} --> {new}")
df.rename(columns=pretty_cols, inplace=True)

Updated Column Names:
Graduate_School_Dashboard_Dataset_Event --> Event
Graduate_School_Dashboard_Dataset_Term_Code --> Term Code
Graduate_School_Dashboard_Dataset_Calendar_Year --> Calendar Year
Graduate_School_Dashboard_Dataset_Academic_Year --> Academic Year
Graduate_School_Dashboard_Dataset_Fiscal_Year --> Fiscal Year
Graduate_School_Dashboard_Dataset_Degree_Type --> Degree Type
Graduate_School_Dashboard_Dataset_Degree_Level_Code --> Degree Level Code
Graduate_School_Dashboard_Dataset_Degree_Level --> Degree Level
Graduate_School_Dashboard_Dataset_Degree --> Degree
Graduate_School_Dashboard_Dataset_Program_Code --> Program Code
Graduate_School_Dashboard_Dataset_Program --> Program
Graduate_School_Dashboard_Dataset_Major_Code --> Major Code
Graduate_School_Dashboard_Dataset_Major --> Major
Graduate_School_Dashboard_Dataset_College_Code --> College Code
Graduate_School_Dashboard_Dataset_College --> College
Graduate_School_Dashboard_Dataset_Department_Code --> Department Code
Graduate_School_Dashboard_Dataset_Department --> Department
Graduate_School_Dashboard_Dataset_Campus_Code --> Campus Code
Graduate_School_Dashboard_Dataset_Campus --> Campus
Graduate_School_Dashboard_Dataset_Gender_Code --> Gender Code
Graduate_School_Dashboard_Dataset_Gender --> Gender
Graduate_School_Dashboard_Dataset_Race_and_Ethnicity_Code --> Race And Ethnicity Code
Graduate_School_Dashboard_Dataset_Race_and_Ethnicity --> Race And Ethnicity
Graduate_School_Dashboard_Dataset_Citizenship_Status_Code --> Citizenship Status Code
Graduate_School_Dashboard_Dataset_Citizensihp_Status --> Citizenship Status
Graduate_School_Dashboard_Dataset_Residency_Code --> Residency Code
Graduate_School_Dashboard_Dataset_Residency --> Residency
Graduate_School_Dashboard_Dataset_Time_Status_Code --> Time Status Code
Graduate_School_Dashboard_Dataset_Time_Status --> Time Status
Graduate_School_Dashboard_Dataset_Total --> Total

In [17]:
df["College"].unique()

array(['College of Education', 'College of Public Health',
       'College of Arts and Sciences', 'College of Veterinary Medicine',
       'College of Agr and Env Science', 'College of Engineering',
       'College of Business', 'College of Pharmacy', 'School of Ecology',
       'College of Fam and Consumr Sci', 'School of Forestry and Nat Res',
       'Biomed and Health Sci Inst', 'College of Jour and Mass Comm',
       'School of Pub and Intl Aff', 'School of Social Work',
       'School of Law', 'College of Env and Design',
       'No College Designated', 'Institute of Higher Education',
       'Institute of Bioinformatics', 'Biomed & Translational Sci Ins',
       'Education', 'Agr and Env Science', 'Arts and Sciences',
       'Business', 'Fam and Consumr Sci', 'Env and Design',
       'Veterinary Medicine', 'Jour and Mass Comm', 'Pharmacy',
       'Pub and Intl Aff', 'Social Work', 'Law', 'Forestry and Nat Res',
       'Public Health', 'Ecology', 'Engineering', 'Graduate School'],
      dtype=object)

In [18]:
#STANDARDIZING COLLEGE NAMES - REMOVING REDUNDANT NAMES FOR SAME COLLEGE

mapping = {
    # Franklin / Arts & Sciences
    "College of Arts and Sciences": "Franklin College of Arts and Sciences",
    "Arts and Sciences": "Franklin College of Arts and Sciences",

    # Agricultural & Environmental Sciences
    "College of Agr and Env Science": "College of Agricultural and Environmental Sciences",
    "Agr and Env Science": "College of Agricultural and Environmental Sciences",

    # Business
    "College of Business": "Terry College of Business",
    "Business": "Terry College of Business",

    # Family & Consumer Sciences
    "College of Fam and Consumr Sci": "College of Family and Consumer Sciences",
    "Fam and Consumr Sci": "College of Family and Consumer Sciences",

    # Environment & Design
    "College of Env and Design": "College of Environment and Design",
    "Env and Design": "College of Environment and Design",

    # Forestry & Natural Resources
    "School of Forestry and Nat Res": "Warnell School of Forestry and Natural Resources",
    "Forestry and Nat Res": "Warnell School of Forestry and Natural Resources",

    # Public & International Affairs
    "School of Pub and Intl Aff": "School of Public and International Affairs",
    "Pub and Intl Aff": "School of Public and International Affairs",

    # Journalism & Mass Comm
    "College of Jour and Mass Comm": "Grady College of Journalism and Mass Communication",
    "Jour and Mass Comm": "Grady College of Journalism and Mass Communication",

    # Ecology
    "School of Ecology": "Odum School of Ecology",
    "Ecology": "Odum School of Ecology",

    # Engineering
    "Engineering": "College of Engineering",

    # Pharmacy
    "Pharmacy": "College of Pharmacy",

    # Public Health
    "Public Health": "College of Public Health",

    # Social Work
    "Social Work": "School of Social Work",

    # Law
    "Law": "School of Law",

    # Biomedical
    "Biomed and Health Sci Inst": "Biomedical and Health Sciences Institute",
    "Biomed & Translational Sci Ins": "Biomedical and Translational Sciences Institute",

    # Higher Education
    "Institute of Higher Education": "McBee Institute of Higher Education",

    # Education
    "College of Education": "Mary Frances Early College of Education",
    "Education": "Mary Frances Early College of Education",

    # Bioinformatics
    "Institute of Bioinformatics": "Institute of Bioinformatics",

    # Veterinary Medicine
    "Veterinary Medicine": "College of Veterinary Medicine",

    # Others
    "No College Designated": "No College Designated",
    "Graduate School": "Graduate School",

    # Already correct ones
    "College of Public Health": "College of Public Health",
    "College of Veterinary Medicine": "College of Veterinary Medicine",
    "College of Environmental and Design": "College of Environment and Design",
    "College of Engineering": "College of Engineering",
    "College of Family and Consumer Sciences": "College of Family and Consumer Sciences",
    "Terry College of Business": "Terry College of Business",
    "Warnell School of Forestry and Natural Resources": "Warnell School of Forestry and Natural Resources"
}

df["College"] = df["College"].map(mapping)

In [19]:
df["College"].unique()

array(['Mary Frances Early College of Education',
       'College of Public Health',
       'Franklin College of Arts and Sciences',
       'College of Veterinary Medicine',
       'College of Agricultural and Environmental Sciences',
       'College of Engineering', 'Terry College of Business', nan,
       'Odum School of Ecology',
       'College of Family and Consumer Sciences',
       'Warnell School of Forestry and Natural Resources',
       'Biomedical and Health Sciences Institute',
       'Grady College of Journalism and Mass Communication',
       'School of Public and International Affairs',
       'College of Environment and Design', 'No College Designated',
       'McBee Institute of Higher Education',
       'Institute of Bioinformatics',
       'Biomedical and Translational Sciences Institute',
       'College of Pharmacy', 'School of Social Work', 'School of Law',
       'Graduate School'], dtype=object)

In [20]:
df.head()

,Event,Term Code,Calendar Year,Academic Year,Fiscal Year,Degree Type,Degree Level Code,Degree Level,Degree,Program Code,...,Gender,Race And Ethnicity Code,Race And Ethnicity,Citizenship Status Code,Citizenship Status,Residency Code,Residency,Time Status Code,Time Status,Total
0,Acceptance,201408,2014,2015,2015,Certificate,F,Advanced Certificate,CERG,CERT_2ELN,...,Female,B,Black or African-American,C,U.S. Citizen,R,Georgia Resident,NaN,NaN,4
1,Acceptance,201408,2014,2015,2015,Certificate,F,Advanced Certificate,CERG,CERT_2ELN,...,Female,W,White,C,U.S. Citizen,R,Georgia Resident,NaN,NaN,1
2,Acceptance,201408,2014,2015,2015,Certificate,F,Advanced Certificate,CERG,CERT_2GRN,...,Female,W,White,C,U.S. Citizen,R,Georgia Resident,NaN,NaN,1
3,Acceptance,201408,2014,2015,2015,Certificate,F,Advanced Certificate,CERG,CERT_2ITT,...,Female,W,White,C,U.S. Citizen,R,Georgia Resident,NaN,NaN,1
4,Acceptance,201408,2014,2015,2015,Certificate,F,Advanced Certificate,CERG,CERT_2QST,...,Female,W,White,C,U.S. Citizen,R,Georgia Resident,NaN,NaN,1

In [21]:
df["Event"].unique()

array(['Acceptance', 'Application', 'Degree Awarded', 'Enrollment',
       'New Enrollment', 'Offer'], dtype=object)

In [22]:
#EVEN COLUMN VALUE CHANGES (POWERBI SORTING PURPOSE)

event_order = {
    "Application": "1_Application",
    "Offer": "2_Offer",
    "Acceptance": "3_Acceptance",
    "New Enrollment": "4_New Enrollment",
    "Enrollment": "5_Enrollment",
    "Degree Awarded": "6_Degree_Awarded"
}

df["Event"] = df["Event"].map(event_order)
df["Event"].unique()

array(['3_Acceptance', '1_Application', '6_Degree_Awarded',
       '5_Enrollment', '4_New Enrollment', '2_Offer'], dtype=object)

In [27]:
print(init_shape == df.shape)

True

In [ ]:
df.to_csv("main_clean.csv", index=False)